<p id="notice"><%= notice %></p>

<h1>Books</h1>

<!--
  XXX
  Aqui esta el formulario, es muy similar al formulario del desafio de proyectos
  Vea el método/acción del controlador books asociada a esta vista: books#index
-->
<%= form_with url: 'books', method: :get, class: 'form form-inline' do |form| %>
  <div class="form-group mb-2">
    <%= form.label :query, "Filtrar libros:", class: 'mr-3' %>
    <%= form.select :status, [
      ["Todos", :all],
      ["En estante", :shelf], ["Prestado", :lent]
    ],{selected: params[:status]}, class:'form-control mr-3' %>
  </div>
  <%= form.submit "Buscar",  class: "btn btn-primary mb-2" %>
<% end %>
<!-- FIN DEL FORMULARIO -->


<table class="table table-striped">
  <thead>
    <tr class="thead-dark">
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Status</th>
      <th scope="col">Checkin</th>
      <th scope="col">Checkout</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.status %></td>
        <td><%= book.checkin %></td>
        <td><%= book.checkout %></td>
        <td><%= link_to 'Show', [@category, book] %></td>
        <td><%= link_to 'Edit', edit_category_book_path(@category, book) %></td>
        <td><%= link_to 'Destroy', [@category, book], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_category_book_path(@category), class: "btn btn-primary" %>
