<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>
<table>
<thead>
</thead>

  <tbody>
    <tr>
      <td><%= link_to 'View books', category_books_path(@category) %></td>
      <td></td>
    </tr>
    <tr>
      <td><%= link_to 'Edit', edit_category_path(@category) %></td>
      <td><%= link_to 'Back', categories_path %></td>
    </tr>
  </tbody>
</table>
